/*
  ---------------------------------------------------

            Pin - Styles for Mobile Devices

  ---------------------------------------------------
*/


/* 1350px (devices and browsers) */
@media only screen and (min-width: 1260px) and (max-width: 1300px) {
    /*-----------------------------------------------------------------------------
    ----------------------------- 1 - Layout --------------------------------------
    -----------------------------------------------------------------------------*/
    /* - Layout content - */
    .wrap-fullwidth            { width: 1230px; }
    .wrap-fullwidth-bg         { width: 1230px; }
    /* .page-content */
    .single-content            { width: 900px;}
    /* - Boxed Style- */
    #boxed-style   { width: 100%; }
    #boxed-style #background   { display: none;}
    #boxed-style .wrap-content { padding: 0; margin: 25px 0 40px 300px;}
    #boxed-style .wrap-fullwidth { padding: 0;  margin: 30px auto; }
    #boxed-style .wrap-fullwidth-bg { margin: 40px auto; padding: 10px 0px 30px 0; }
    #boxed-style .stickytop.sticky-on { width: 100%; }
    #boxed-style .wrap-content,
    #boxed-style .wrap-fullwidth { background-color: transparent;}
    /* - Blog Masonry style in boxed mode - */
    #boxed-style ul.masonry_list li         { width: 284px; }
    /* - Home ADS in boxed mode -*/
    #boxed-style ul.masonry_list li.homeadv,
    #boxed-style ul.masonry_list li.homeadv iframe,
    #boxed-style ul.masonry_list li.homeadv embed,
    #boxed-style ul.masonry_list li.homeadv object,
    #boxed-style ul.masonry_list li.homeadv img { width: 284px; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 2 - Header --------------------------------------
    -----------------------------------------------------------------------------*/
    /*Top level menu link items style*/
    .jquerycssmenu, .jquerycssmenu ul li i { font-size: 13px; }
    .jquerycssmenu ul li a     { margin-right: 3px; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 3 - Home Content --------------------------------
    -----------------------------------------------------------------------------*/
    /* ###### Blog Masonry style ######
    #################################### */
    ul.masonry_list li         { width: 284px; }
    /* - Home ADS -*/
    ul.masonry_list li.homeadv,
    ul.masonry_list li.homeadv iframe,
    ul.masonry_list li.homeadv embed,
    ul.masonry_list li.homeadv object,
    ul.masonry_list li.homeadv img { width: 284px; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 4 - Entry Content -------------------------------
    -----------------------------------------------------------------------------*/
    /* - Top entry - */
    .single-box                { width: 900px; }

    /* -- Entry Banner -- */
    .entry-img-300            { margin: 20px -40px 20px 20px; }

    /* -- Responsive Images -- */
    .alignleft                { margin: 20px 20px 10px -40px; }
    .alignright               { margin: 20px -40px 10px 20px; }

}








/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 1004px) and (max-width: 1230px) {
    /*-----------------------------------------------------------------------------
    ----------------------------- 1 - Layout --------------------------------------
    -----------------------------------------------------------------------------*/
    /* - Header - */
    .wrap-center               { width: 980px; }
    /* - Layout content - */
    .wrap-fullwidth            { width: 980px; }
    .wrap-fullwidth-bg         { width: 980px; }
    /* .page-content */
    .single-content            { width: 950px; float: none; margin-left: auto; margin-right: auto;}
    /* - sidebar - */
    .sidebar                   { width: 950px; float: left; margin-left: 16px; margin-top: 30px;}
    .sidebar .widget           { width: 240px; display: block; float: left; margin-right: 20px;}
    /* - Boxed Style- */
    #boxed-style               { width: 100%; }
    #boxed-style #background   { display: none;}
    #boxed-style .wrap-content { padding: 0; margin: 25px 0 40px 300px;}
    #boxed-style .wrap-fullwidth { padding: 0;  margin: 30px auto; }
    #boxed-style .wrap-fullwidth-bg { margin: 40px auto; padding: 10px 0px 30px 0; }
    #boxed-style .stickytop.sticky-on { width: 100%; }
    #boxed-style .wrap-content,
    #boxed-style .wrap-fullwidth { background-color: transparent;}
    /* - Blog Masonry style in boxed mode - */
    #boxed-style ul.masonry_list li         { width: 300px; }
    /* - Home ADS in boxed mode -*/
    #boxed-style ul.masonry_list li.homeadv,
    #boxed-style ul.masonry_list li.homeadv iframe,
    #boxed-style ul.masonry_list li.homeadv embed,
    #boxed-style ul.masonry_list li.homeadv object,
    #boxed-style ul.masonry_list li.homeadv img { width: 300px; }


    /*-----------------------------------------------------------------------------
    ----------------------------- 2 - Header --------------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Top Header Menu -- */
    .jquerycssmenu             { padding-top: 24px; font-size: 13px;}
    .jquerycssmenu ul li span  { display: none;}
    .jquerycssmenu ul li ul    { margin-top: 0px;}
    .jquerycssmenu ul li ul li ul { margin:-14px 0 0 -1px; }
    .downarrowclass            { top: 32px;}
    .jquerycssmenu ul li a:hover { opacity: 0.6;}

    /* -- Search -- */
    header #searchform2        { display: none; }

    /* -- Upload Button -- */
    div.uploadbtn              { display: none;}

    /* -- Sticky Header -- */
    header .stickytop .jquerycssmenu  { margin-top: 8px; padding-top: 0;}
    header .stickytop .jquerycssmenu ul li ul { margin-top: -4px;}

    /*-----------------------------------------------------------------------------
    ----------------------------- 3 - Home Content --------------------------------
    -----------------------------------------------------------------------------*/
    /* ###### Blog Masonry style ######
    #################################### */
    ul.masonry_list li         {width: 260px;}
    /* - Home ADS -*/
    ul.masonry_list li.homeadv,
    ul.masonry_list li.homeadv script,
    ul.masonry_list li.homeadv iframe,
    ul.masonry_list li.homeadv embed,
    ul.masonry_list li.homeadv object,
    ul.masonry_list li.homeadv img { width: 300px; }

}







/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
    /*-----------------------------------------------------------------------------
    ----------------------------- 1 - Layout --------------------------------------
    -----------------------------------------------------------------------------*/

    /* - Header - */
    .wrap-center               { width: 750px; }
    .bar-header                { display: none;}
    /* - Layout content - */
    .wrap-fullwidth            { width: 750px; }
    .wrap-fullwidth-bg         { width: 750px; }
    .wrap-fullwidth-bg .entry  { width: auto; padding-left: 15px; padding-right: 15px;}
    /* .page-content */
    .wrap-content              { width: 710px; margin: 25px auto 40px auto;}
    .single-content            { width: 750px; float: none; margin-left: auto; margin-right: auto;}
    /* - sidebar - */
    .sidebar           		   { width: 750px; float: left;  margin-top: 30px; margin-left: 0px;}
    .sidebar .widget           { width: 300px; display: block; float: left; margin-right: 25px;}
    /* - sidebar left - */
    .sidebar-left              { display: none;}
    /* - Boxed Style- */
    #boxed-style               { width: 100%; }
    #boxed-style #background   { display: none;}
    #boxed-style .wrap-content { width: 710px; padding: 0; margin: 25px auto 40px auto;}
    #boxed-style .wrap-fullwidth { padding: 0;  margin: 30px auto; }
    #boxed-style .wrap-fullwidth-bg { margin: 40px auto; padding: 10px 0px 30px 0; }
    #boxed-style .stickytop.sticky-on { width: 100%; }
    #boxed-style .wrap-content,
    #boxed-style .wrap-fullwidth { background-color: transparent;}
    /* - Blog Masonry style in boxed mode - */
    #boxed-style ul.masonry_list li         { width: 218px; }
    /* - Home ADS in boxed mode -*/
    #boxed-style ul.masonry_list li.homeadv,
    #boxed-style ul.masonry_list li.homeadv iframe,
    #boxed-style ul.masonry_list li.homeadv embed,
    #boxed-style ul.masonry_list li.homeadv object,
    #boxed-style ul.masonry_list li.homeadv img { width: 218px; }
    #boxed-style ul.masonry_list li.homeadv img { width: 218px; height: auto; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 2 - Header --------------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Search -- */
    header #searchform2        { float: left; margin-left: 150px;}
    header #s                  { width: 170px; }
    header #s:focus            { width: 170px; }

    /* -- Top Header Menu --
    ##################### */
    .jquerycssmenu             { display: none;}

    /* -- Upload Button -- */
    div.uploadbtn              { display: none;}

    /* -- Sticky Header -- */
    header .stickytop          { display: none;}

    /* -- Responsive menu -- */
    #click-menu                 { top: 28px !important;}

    /*-----------------------------------------------------------------------------
    ----------------------------- 3 - Home Content --------------------------------
    -----------------------------------------------------------------------------*/
    /* ###### Blog Masonry style ######
    #################################### */
    ul.masonry_list            { margin-left: -25px;}
    ul.masonry_list li         {width: 255px;}
    ul.masonry_list .small-content { padding: 0 10px 0 10px;}
    /* - Home ADS -*/
    ul.masonry_list li.homeadv,
    ul.masonry_list li.homeadv script,
    ul.masonry_list li.homeadv iframe,
    ul.masonry_list li.homeadv embed,
    ul.masonry_list li.homeadv object,
    ul.masonry_list li.homeadv img { width: 218px; }
    ul.masonry_list li.homeadv img { width: 218px; height: auto; }
    /* - Meta - */
    .masonry_list .home-meta  { padding: 0 10px; }
    .masonry_list .an-display-view { display: none;}


    /*----------------------------------------------------------------------------
    ----------------------------- 4 - Entry Content -------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Entry Banner -- */
    .entry-img-300            { margin: 20px 0 20px 20px; }

    /* -- Responsive Images -- */
    .alignleft                 { margin-left: 0px;}
    .alignright                { margin-right: 0px;}

    /* - Top entry - */
    .single-box                { width: 750px; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 9 - Footer -------------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Copyright -- */
    .copyright                    { width: 750px; }
}






/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 580px) and (max-width: 760px) {
    /*-----------------------------------------------------------------------------
    ----------------------------- 1 - Layout --------------------------------------
    -----------------------------------------------------------------------------*/
    /* - Header - */
    .wrap-center               { width: 570px; }
    .bar-header                { display: none;}
    /* - Layout content - */
    .wrap-fullwidth            { width: 570px; }
    .wrap-fullwidth-bg         { width: 570px; }
    .wrap-fullwidth-bg .entry  { width: auto; padding-left: 15px; padding-right: 15px;}
    /* .page-content */
    .wrap-content              {width: 100%; margin: 25px auto 40px auto;}
    .single-content            { width: 570px; float: none; margin-left: auto; margin-right: auto;}
    /* - sidebar - */
    .sidebar           		   { width: 570px; float: left;  margin-top: 30px; margin-left: 0px;}
    .sidebar .widget           { width: 240px; padding: 0 15px 20px 15px; display: block; float: left; margin-right: 10px;}
    /* - sidebar left - */
    .sidebar-left              { display: none;}
    /* - Boxed Style - */
    #boxed-style               { width: 100%; }
    #boxed-style #background   { display: none;}
    #boxed-style .wrap-content { padding: 0; width: 540px; margin: 25px auto 40px auto;}
    #boxed-style .wrap-fullwidth { padding: 0;  margin: 30px auto; }
    #boxed-style .wrap-fullwidth-bg { margin: 40px auto; padding: 10px 0px 30px 0; }
    #boxed-style .stickytop.sticky-on { width: 100%; }
    #boxed-style .wrap-content,
    #boxed-style .wrap-fullwidth { background-color: transparent;}
    /* - Blog Masonry style in boxed mode - */
    #boxed-style ul.masonry_list li         { width: 255px; }
    /* - Home ADS in boxed mode -*/
    #boxed-style ul.masonry_list li.homeadv,
    #boxed-style ul.masonry_list li.homeadv iframe,
    #boxed-style ul.masonry_list li.homeadv embed,
    #boxed-style ul.masonry_list li.homeadv object,
    #boxed-style ul.masonry_list li.homeadv img { width: 255px; }
    #boxed-style ul.masonry_list li.homeadv img { width: 255px; height: auto; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 2 - Header --------------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Search -- */
    header #searchform2        { float: right; margin-right: 80px;}
    header #s                  { width: 170px; }
    header #s:focus            { width: 170px; }

    /* -- Top Header Menu --
    ##################### */
    .jquerycssmenu             { display: none;}

    /* -- Upload Button -- */
    div.uploadbtn              { display: none;}

    /* -- Sticky Header -- */
    header .stickytop          { display: none;}

    /* -- Responsive menu -- */
    #click-menu                { top: 28px !important;}


    /*-----------------------------------------------------------------------------
    ----------------------------- 3 - Home Content --------------------------------
    -----------------------------------------------------------------------------*/
    /* ###### Blog Masonry style ######
    #################################### */
    ul.masonry_list            { margin-left: -25px;}
    ul.masonry_list li         {width: 228px;}
    ul.masonry_list .small-content { padding: 0 10px 0 10px;}
    /* - Home ADS -*/
    ul.masonry_list li.homeadv,
    ul.masonry_list li.homeadv iframe,
    ul.masonry_list li.homeadv embed,
    ul.masonry_list li.homeadv object,
    ul.masonry_list li.homeadv img { width: 255px; }
    ul.masonry_list li.homeadv img { width: 255px; height: auto;}
    /* - Meta - */
    .masonry_list .home-meta  { padding: 0 10px; }
    .masonry_list .an-display-view { display: none;}

    /*----------------------------------------------------------------------------
    ----------------------------- 4 - Entry Content -------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Entry Banner -- */
    .entry-img-300            { margin: 20px 0 20px 20px; }

    /* -- Bottom banner 728x90 -- */
    .img728, .img728 img, .img728 iframe, .img728 script  { max-width: 98%; height: auto; margin: 10px 0 5px 5px;}

    /* -- Responsive Images -- */
    .alignleft                 { margin-left: 0px;}
    .alignright                { margin-right: 0px;}

    /* - Top entry - */
    .single-box                { width: 570px; height: auto; }
    .single-box .single-money  { width: 100%; height: auto; margin: 15px auto 10px auto;}
    .single-box .single-money img, .single-box .single-money iframe, .single-box .single-money script { width: 98%; height: auto; margin: 10px 0 5px 5px;}
    .single-content .single-meta  { width: 550px; }
    .single-gallery            { width: 550px;}
    iframe.single_iframe       { width: 100%;}

    /* -- Related articles -- */
    .related-box               { width: 540px; height: auto; margin: -5px auto 50px auto;}

    /* -- About Author -- */
    .author-meta               { width: 540px; padding-bottom: 30px;}

    /* -- Entry content style -- */
    .entry                     { width: 540px; }


    /*-----------------------------------------------------------------------------
    ----------------------------- 5 - Sidebar & Widgets ---------------------------
    -----------------------------------------------------------------------------*/
    /* -- Banner widget 300px -- */
    .widget .img-300           { width: 250px; height: auto; margin:0; }
    .widget .img-300 img, .widget .img-300 iframe, .widget .img-300 script { width: 250px; }
    .widget .img-300 img { height: auto; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 6 - Comments Form -------------------------------
    -----------------------------------------------------------------------------*/
    ul.comment                  { width: 540px; }
    .comments                   { width: 540px; }
    /* -- Entry bottom -- */
    .entry-bottom               { width: 540px; height: auto; margin: 20px 0 10px 15px;}

    /*-----------------------------------------------------------------------------
    ----------------------------- 7 - Contact Form --------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Contact Form -- */
    #contactform #contactName, #contactform #emaill, #contactform #subject { width:96%; }
    #contactform #subject         { width: 98%;}
    #contactform textarea         { width: 98%; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 8 - Custom Pages --------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Tag & Category Index -- */
    #mcTagMap .holdleft, #sc_mcTagMap .holdleft { width: 160px !important; }


    /*-----------------------------------------------------------------------------
    ----------------------------- 9 - Footer -------------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Copyright -- */
    .copyright                    { width: 570px; }

    /* -- Footer Social Icons -- */
    ul.footer-social li           { margin: 27px 5px 0 5px; }
    ul.footer-social li a         { text-align: center; padding: 5px 5px; }
}






/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 580px) {
    /*-----------------------------------------------------------------------------
    ----------------------------- 1 - Layout --------------------------------------
    -----------------------------------------------------------------------------*/
    /* - Header - */
    .main-header               { width: 460px; }
    .wrap-center               { width: 460px; }
    .bar-header                { display: none;}
    /* - Layout content - */
    .wrap-fullwidth            { width: 460px; }
    .wrap-fullwidth-bg         { width: 460px; }
    .wrap-fullwidth-bg .entry  { width: auto; padding-left: 15px; padding-right: 15px;}
    /* .page-content */
    .wrap-content              { width: 415px; margin: 25px auto 40px auto; }
    .single-content            { width: 460px; float: none; margin-left: auto; margin-right: auto;}
    /* - sidebar - */
    .sidebar           		   { width: 460px; float: left;  margin-top: 30px; margin-left: 0px;}
    .sidebar .widget           { width: 180px; display: block; float: left; margin-right: 0px;}
    /* - sidebar left - */
    .sidebar-left              { display: none; }
    /* - Boxed Style- */
    #boxed-style               { width: 100%; }
    #boxed-style #background   { display: none;}
    #boxed-style .wrap-content { padding: 0; margin: 25px auto 40px auto; }
    #boxed-style .wrap-fullwidth { padding: 0;  margin: 30px auto; }
    #boxed-style .wrap-fullwidth-bg { margin: 40px auto; padding: 10px 0px 30px 0; }
    #boxed-style .stickytop.sticky-on { width: 100%; }
    #boxed-style .wrap-content,
    #boxed-style .wrap-fullwidth { background-color: transparent;}
    /* - Blog Masonry style in boxed mode - */
    #boxed-style ul.masonry_list li         { width: 195px; }
    /* - Home ADS in boxed mode -*/
    #boxed-style ul.masonry_list li.homeadv,
    #boxed-style ul.masonry_list li.homeadv iframe,
    #boxed-style ul.masonry_list li.homeadv embed,
    #boxed-style ul.masonry_list li.homeadv object,
    #boxed-style ul.masonry_list li.homeadv img { width: 195px; }
    #boxed-style ul.masonry_list li.homeadv img { width: 195px; height: auto;}

    /*-----------------------------------------------------------------------------
    ----------------------------- 2 - Header --------------------------------------
    -----------------------------------------------------------------------------*/

    /* -- Search -- */
    header #searchform2        { display: none;}

    /* -- Top Header Menu --
    ##################### */
    .jquerycssmenu             { display: none;}

    /* -- Upload Button -- */
    div.uploadbtn              { display: none;}

    /* -- Sticky Header -- */
    header .stickytop          { display: none;}

    /* -- Responsive menu -- */
    #click-menu                { top: 28px !important;}


    /*-----------------------------------------------------------------------------
    ----------------------------- 3 - Home Content --------------------------------
    -----------------------------------------------------------------------------*/
    /* ###### Blog Masonry style ######
    #################################### */
    ul.masonry_list            { margin-left: -25px;}
    ul.masonry_list li         {width: 290px;}
    ul.masonry_list .small-content { padding: 0 10px 0 10px;}
    /* - Home ADS -*/
    ul.masonry_list li.homeadv,
    ul.masonry_list li.homeadv script,
    ul.masonry_list li.homeadv iframe,
    ul.masonry_list li.homeadv embed,
    ul.masonry_list li.homeadv object,
    ul.masonry_list li.homeadv img { width: 195px; }
    ul.masonry_list li.homeadv img { width: 195px; height: auto; }
    /* - Meta - */
    .masonry_list .home-meta  { padding: 0 10px; }
    .masonry_list .an-display-view { display: none;}
    /* - Like & unlike - */
    .masonry_list .home-data .thumbs-rating-container .thumbs-rating-up,
    .masonry_list .home-data .thumbs-rating-container .thumbs-rating-down { font-size: 11px; padding: 0 0 0 5px; }
    /* - Meta - */
    .masonry_list .an-display-time { padding: 5px 0 0 0; }

    /* -- Single Share -- */
    #single-share a        { font-size: 11px !important; padding:4px 10px 2px 10px !important; margin-right: 3px !important;}
    #single-share a.emailbutton i { font-size: 11px; margin-right: 2px;}
    #single-share .googlebutton i,
    #single-share .pinbutton i,
    #single-share .fbbutton i,
    #single-share .twbutton i  { font-size: 12px; margin-right: 2px; }

    /*----------------------------------------------------------------------------
    ----------------------------- 4 - Entry Content -------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Entry Banner -- */
    .entry-img-300            { margin: 20px 0 20px 20px; }
    .entry-img-300, .entry-img-300 img, .entry-img-300 iframe, .entry-img-300 script  { width: 200px; }
    .entry-img-300 img { height: auto;}

    /* -- Bottom banner 728x90 -- */
    .img728, .img728 img, .img728 iframe, .img728 script  { max-width: 98%; height: auto; margin: 10px 0 5px 5px;}

    /* -- Responsive Images -- */
    .alignleft                 { margin-left: 0px;}
    .alignright                { margin-right: 0px;}

    /* - Top entry - */
    .single-box                { width: 460px; height: auto; }
    .single-box .single-money  { width: 100%; height: auto; margin: 15px auto 10px auto;}
    .single-box .single-money img, .single-box .single-money iframe, .single-box .single-money script { max-width: 98%; height: auto; margin: 10px 0 5px 5px;}
    .single-content .single-meta  { width: 430px; }
    .single-gallery            { width: 430px;}
    iframe.single_iframe       { width: 100%;}
    .single-gallery img        { width: 143px; height: 143px;}

    /* -- Related articles -- */
    .related-box               { width: 430px; height: auto; margin: -5px auto 50px auto;}

    /* -- About Author -- */
    .author-meta               { width: 430px; padding-bottom: 30px;}

    /* -- Entry content style -- */
    .entry                     { width: 430px; }


    /*-----------------------------------------------------------------------------
    ----------------------------- 5 - Sidebar & Widgets ---------------------------
    -----------------------------------------------------------------------------*/
    /* -- Banner widget 300px -- */
    .widget .img-300           { width: 200px; height: auto; margin:0; }
    .widget .img-300 img, .widget .img-300 iframe, .widget .img-300 script { width: 200px; }
    .widget .img-300 img { height: auto; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 6 - Comments Form -------------------------------
    -----------------------------------------------------------------------------*/
    ul.comment                  { width: 430px; }
    .comments                   { width: 430px; }
    /* -- Entry bottom -- */
    .entry-bottom               { width: 430px; height: auto; margin: 20px 0 10px 15px;}

    /*-----------------------------------------------------------------------------
    ----------------------------- 7 - Contact Form --------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Contact Form -- */
    #contactform #contactName, #contactform #emaill, #contactform #subject { width:96%; }
    #contactform #subject         { width: 98%;}
    #contactform textarea         { width: 98%; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 8 - Custom Pages --------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Tag & Category Index -- */
    #mcTagMap .holdleft, #sc_mcTagMap .holdleft { width: 100% !important; }


    /*-----------------------------------------------------------------------------
    ----------------------------- 9 - Footer -------------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Copyright -- */
    .copyright                    { width: 460px; }
    /* -- Footer Social Icons -- */
    ul.footer-social li           { margin: 27px 5px 0 5px; }
    ul.footer-social li a         { text-align: center; padding: 5px 4px; }
}









/* All Mobile Size (devices) */
@media only screen and (max-width: 479px) {
    /*-----------------------------------------------------------------------------
    ----------------------------- 1 - Layout --------------------------------------
    -----------------------------------------------------------------------------*/

    /* - Header - */
    .wrap-center               { width: 305px; }
    .bar-header                { display: none;}
    /* - Layout content - */
    .wrap-fullwidth            { width: 305px; }
    .wrap-fullwidth-bg         { width: 305px; }
    .wrap-fullwidth-bg .entry  { width: auto; padding-left: 15px; padding-right: 15px;}
    /* .page-content */
    .wrap-content              { width: 305px; margin: 25px auto 40px auto; }
    .single-content            { width: 305px; float: none; margin-left: auto; margin-right: auto;}
    /* - sidebar - */
    .sidebar           		   { width: 300px; float: left;  margin-top: 30px; margin-left: 0px;}
    .sidebar .widget           { width: 250px; display: block; float: left; margin-right: 0px;}
    /* - sidebar left - */
    .sidebar-left              { display: none;}
    /* - Boxed Style- */
    #boxed-style               { width: 100%; }
    #boxed-style #background   { display: none;}
    #boxed-style .wrap-content { padding: 0; margin: 25px auto 40px auto;}
    #boxed-style .wrap-fullwidth { padding: 0;  margin: 30px auto; }
    #boxed-style .wrap-fullwidth-bg { margin: 40px auto; padding: 10px 0px 30px 0; }
    #boxed-style .stickytop.sticky-on { width: 100%; }
    #boxed-style .wrap-content,
    #boxed-style .wrap-fullwidth { background-color: transparent;}
    /* - Blog Masonry style in boxed mode - */
    #boxed-style ul.masonry_list li         { width: 305px; }
    /* - Home ADS in boxed mode -*/
    #boxed-style ul.masonry_list li.homeadv,
    #boxed-style ul.masonry_list li.homeadv iframe,
    #boxed-style ul.masonry_list li.homeadv embed,
    #boxed-style ul.masonry_list li.homeadv object,
    #boxed-style ul.masonry_list li.homeadv img { width: 300px; }
    #boxed-style ul.masonry_list li.homeadv img { width: 300px; height: 250px; }



    /*-----------------------------------------------------------------------------
    ----------------------------- 2 - Header --------------------------------------
    -----------------------------------------------------------------------------*/

    /* -- Search -- */
    header #searchform2        { display: none;}

    /* -- Top Header Menu --
    ##################### */
    .jquerycssmenu             { display: none;}

    /* -- Sticky Header -- */
    header .stickytop          { display: none;}

    /* -- Upload Button -- */
    div.uploadbtn              { display: none;}

    /* -- Responsive menu -- */
    #click-menu                { top: 28px !important;}


    /*-----------------------------------------------------------------------------
    ----------------------------- 3 - Home Content --------------------------------
    -----------------------------------------------------------------------------*/
    /* ##### Featured Slider home #####
    ################################## */
    .featured-title            { display: none;}
    .featured-title h3         { display: none; }
    .slide-nav                 { float: left; margin-top: 60px; margin-left: -5px; }

    /* ###### Blog Masonry style ######
    #################################### */
    ul.masonry_list li         {width: 235px;  margin: 0 0 25px 0;}
    ul.masonry_list .small-content { padding: 0 10px 0 10px;}
    /* - Home ADS -*/
    ul.masonry_list li.homeadv,
    ul.masonry_list li.homeadv script,
    ul.masonry_list li.homeadv iframe,
    ul.masonry_list li.homeadv embed,
    ul.masonry_list li.homeadv object,
    ul.masonry_list li.homeadv img { width: 300px; }
    ul.masonry_list li.homeadv img { width: 300px; height: 250px; }

    /* - Meta - */
    .masonry_list .home-meta  { padding: 0 10px; }
    .masonry_list .an-display-view { display: none;}
    /* - Like & unlike - */
    .masonry_list .home-data .thumbs-rating-container .thumbs-rating-up,
    .masonry_list .home-data .thumbs-rating-container .thumbs-rating-down { font-size: 11px; padding: 0 0 0 5px; }
    /* - Meta - */
    .masonry_list .an-display-time { padding: 5px 0 0 0; }

    /* -- Single Share -- */
    #single-share a span { display: none;}
    #single-share a        { font-size: 11px !important; padding:4px 10px 2px 10px !important; margin-right: 3px !important;}
    #single-share a.emailbutton i { font-size: 14px; margin-right: 2px;}
    #single-share .googlebutton i,
    #single-share .pinbutton i,
    #single-share .fbbutton i,
    #single-share .twbutton i  { font-size: 14px; margin-right: 2px; }

    /*----------------------------------------------------------------------------
    ----------------------------- 4 - Entry Content -------------------------------
    -----------------------------------------------------------------------------*/

    /* -- Entry Banner -- */
    .entry-img-300            { margin: 20px 0 20px 0; float: left; }
    .entry-img-300, .entry-img-300 img, .entry-img-300 iframe, .entry-img-300 script  { width: 280px;}
    .entry-img-300 img { height: auto;}

    /* -- Bottom banner 728x90 -- */
    .img728, .img728 img, .img728 iframe, .img728 script  { max-width: 97%; height: auto; margin: 10px 0 5px 5px;}

    /* -- Responsive Images -- */
    .alignleft                 { margin-left: 0px;}
    .alignright                { margin-right: 0px;}
    h1.article-title           { font-size: 26px; font-weight: 600; line-height: 34px; }
    .entry h1.page-title       { font-size: 26px; }

    /* - Top entry - */
    .single-box                { width: 305px; height: auto; }
    .single-box .single-money  { width: 100%; height: auto; margin: 15px auto 10px auto;}
    .single-box .single-money img, .single-box .single-money iframe, .single-box .single-money script { max-width: 97%; height: auto; margin: 10px 0 5px 5px;}
    .single-content .single-meta  { width: 290px; }
    .single-content .single-meta .single-data { float: left; margin: 20px 0 -20px 100px; }
    .single-gallery            { width: 290px;}
    iframe.single_iframe       { width: 100%;}
    .single-gallery img        { width: 145px; height: 145px;}

    /* -- Related articles -- */
    .related-box               { width: 290px; height: auto; margin: -5px auto 50px auto;}

    /* -- Entry content style -- */
    .entry                     { width: 280px; }

    /* -- About author -- */
    .author-meta               { width: 94%;  }
    .author-meta .author-link  { display: none;}



    /*-----------------------------------------------------------------------------
    ----------------------------- 6 - Comments Form -------------------------------
    -----------------------------------------------------------------------------*/
    ul.comment                  { width: 285px; }
    .comments                   { width: 285px; }
    /* -- Entry bottom -- */
    .entry-bottom               { width: 285px; height: auto; margin: 20px 0 10px 10px;}

    /*-----------------------------------------------------------------------------
    ----------------------------- 7 - Contact Form --------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Contact Form -- */
    #contactform #contactName, #contactform #emaill, #contactform #subject { width:94%; }
    #contactform #subject         { width: 97%;}
    #contactform textarea         { width: 97%; }

    /*-----------------------------------------------------------------------------
    ----------------------------- 8 - Custom Pages --------------------------------
    -----------------------------------------------------------------------------*/
    /* -- Tag & Category Index -- */
    #mcTagMap .holdleft, #sc_mcTagMap .holdleft { width: 280px !important; }


    /*-----------------------------------------------------------------------------
    ----------------------------- 10 - Footer -------------------------------------
    -----------------------------------------------------------------------------*/
    .social-section               { height: auto;}
    /* -- Copyright -- */
    .copyright                    { width: 305px;}
    /* -- Footer Social Icons -- */
    ul.footer-social li           { margin: 15px 5px 0 5px; }
    ul.footer-social li a         { text-align: center; padding: 5px 4px; }

    /* -- Columns -- */
    .one_half, .one_half_last         { float:left;width:100%; margin-bottom:10px; margin-right:0; }
    .one_half_last                    { margin-right:0;}

    .one_third, .one_third_last       { float:left; width:100%; margin-bottom:10px; margin-right:0; }
    .one_third_last                   { margin-right:0;}

    .one_fourth, .one_fourth_last     { float:left; width:100%; margin-bottom:10px; margin-right:0; }
    .one_fourth_last                  { margin-right:0;}
}
