/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     pin-wp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
html, header, .main-header, .home-fullwidth, aside {
    background: #333 !important;
}
a:hover{
    color: #f6931f !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

html body {
    color: #666666;
    background: #333 !important;
}

.wrap-content-inner {
    float: left;
    width: 100%;
}

/*Site title*/
h2.site-title {
    font-size: 44px;
    text-align: center;
    font-weight: 100;
    margin: 31px 24px;
    color: #fff;
    font-style: italic;
    text-transform: none;
    /* float: left; */
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

img.logo {
    margin-top: 13px;
    margin-left: 80.2px;
}

.main-header {
    height: auto;
}

.main-header #searchform2 {
    position: absolute;
    display: inline-block;
    margin-top: 13px;
    display: none;
    margin: 31px 24px 24px 24px;
    right: 0;
    top: 0;
}

.main-header #searchform2 #s {
    border-bottom: 1px solid white;
    width: 148px;
    background: url(images/btn_search.png) 8px 5px no-repeat;
    padding-left: 40px;
    height: 25px;
    font-weight: 100;
    line-height: 18px;
    color: #fff !important;
}

::-webkit-input-placeholder {
    color: #eee;
}

:-moz-placeholder { /* Firefox 18- */
    color: #eee;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #eee;
}

:-ms-input-placeholder {
    color: #eee;
}
.widget_search #searchform2.header-search .buttonicon {
    background-color: #333 !important;
}

.widget_search #searchform2.header-search #s {
    font-weight: 100;
    padding: 2px 13px 0 15px;
    font-family: 'Oswald', sans-serif;
    color: #c1cfda !important;
    background: #333;
    border: 1px solid #c1cfda;
}

div.widget_search #searchform2 #s, div.widget_search #searchform2 #s:focus {
    width: 200px;
    margin-left: 5px;
}

@media (min-width: 1000px) {
    .main-header #searchform2 {
        display: inline-block;
        width: 276px;
        margin-bottom: 20px;
    }
    .menu-categories .jquerycssmenu ul li a{
        margin-right: 5px !important;
    }

}

@media (min-width: 1020px) {
    .main-header #searchform2 {
        width: 312px;
        /*position: absolute;
        top: 15px;
        right: 20px;*/
    }

    .main-header #searchform2 #s {
        width: 188px;

    }

}

.sticky-on {
    text-align: center;
    top: -300px;
}

.main-header input.buttonicon {
    text-indent: 0;
    width: 800px;
}

.main-header #searchform2 .buttonicon,
header .stickytop #searchform2 .buttonicon {
    width: 60px;
    border-radius: 0;
    height: 29px;
    background-image: none;
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: white!important;
    border: 1px solid #333;
    color: #333;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
}

#searchform2 #s {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.main-header #searchform2 .buttonicon {
    font-weight: 100;
}

header .stickytop #searchform2 .buttonicon {
    height: 34px;
    font-weight: 100;
}

.bar-header {
    background: #222 !important;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 1000;
    position: relative;
    box-shadow: 0 4px 13px rgba(0,0,0, 0.3);
    /*height: 80px;when banner is here*/
    height: 45px;
}

.bar-header .menu-categories .jquerycssmenu ul li a {
    color: #fff !important;
    font-weight: 100;
    font-size: 18px;
    text-transform: uppercase;
}

.bar-header .menu-categories .jquerycssmenu ul li a:hover, .bar-header .menu-categories .jquerycssmenu ul li.current-menu-item a:active, .bar-header .menu-categories .jquerycssmenu ul li.current-menu-item:active {
    color: #f6931f !important;

}

.fa.fa-heart {
    position: relative;
}

.fa.fa-heart:before {
    position: absolute;
    top: -14px;
    right: 0;
    color: red;
}

.underline-detail:after {
    background-color: #333;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.wrap-content ul.masonry_list {
    margin-left: 12px;
    margin-right: 12px;
}

.wrap-content ul.masonry_list li {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    overflow: hidden;
    padding: 24px;
}

ul.masonry_list li > a {
    display: block;
}

ul.masonry_list li img {
    width: auto;
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
}

.btn-st {
    display: block;
    height: 2.2em;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid white;
    color: white;
}

.btn-st:hover {
    background: white;
    color: black;
}

.single .btn-st {
    line-height: 43px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    border: 1px solid #333;
    color: #333 !important;
    display: block;
    height: 43px;

}

.single .btn-st:hover {
    background: #f6931f;
    color: #333 !important;
}

.single .product-price {
    color: #333;
    font-weight: 400 !important;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.single .regular-price {
    font-size: 18px;
    font-weight: 400 !important;
    text-transform: uppercase;
}

ul.masonry_list .btn-st {
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -40px;
}

.price span {
    font-size: 16px;
    color: #333;
}

.price .old-price {
    text-decoration: line-through;
    text-transform: uppercase;
    font-weight: bold;
}

.price .sale-price {
    color: #333;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/**
 * Single page
 */

.single .wrap-fullwidth {
    margin: 10px auto 30px auto;
}

.entry-top {
    margin: 0;
    background: #fff;
    color: #333;
}

.entry-top h1.article-title {
    color: #333;
    font-weight: 100;
    font-size: 30px;
}

.single-brand {
    color: #950e2e;
    text-transform: capitalize;
}

.media-product {
    background: #fff;
    box-shadow: 0 0 10px rgb(0,0,0);
}

.media-product-page {
    width: 100%;
}

.media-product-details {
    width: 100%;
}

.media-product-details-inner {
    padding: 8px;
    line-height: 1.7em;
}

.media-product-details-inner p, .media-product-details-inner p span.old-price {
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.6em;
}

@media (min-width: 801px) {
    .media-product-page {
        width: 50%;
        float: left;
    }

    .media-product-details {
        width: 50%;
        float: left;
    }

    .media-product-details-inner {
        padding: 80px;
    }

}
.single-banner{
    display: block;
    height: 270px;
    width: 470px;
    margin: 10px auto;
}
.single-banner div{
    background: url(./images/joyofsale-singlebottom-450-v2.jpg) no-repeat;
    height: 270px;
}
@media (max-width: 801px) {
    .media-product-details-inner p {
        text-align: center !important;
    }

    .media-product-details-inner p.product-price, .media-product-details-inner p.product-shipping {
        text-align: center !important;
    }

    .media-product-details-inner {
        padding: 8px 20px 20px 20px;
    }
}

#single-share a.fbbutton, #single-share a.twbutton, #single-share a.pinbutton, #single-share a.googlebutton, #single-share a.emailbutton {
    background-color: #333;
    font-weight: 100;
    font-size: 10px;
}

/**
 * End single page
 */

.product-price {
    font-size: 1.4em;
    line-height: 1em;
    margin-bottom: 42px;
    line-height: 1.8em;
}

.product-shipping {
    font-size: 19px;
    margin: 30px 0;
    text-align: center;
    color: #333;
}

.btn-product-buy {
    margin-top: 22px;
}

.product-price .sale-price {
    color: #950e2e;
}

.single-content {
    box-shadow: none;
    background: #333 !important;
}

#single-share {
    margin-top: 20px;
    margin-bottom: 14px !important;
    background: #333;
}

.ct-size {
    display: inline-block;
    margin-bottom: 50px;
    color: #fff;
    background: #333;
}

.product-categories {
    color: #fff;
}

.text-center {
    text-align: center;
}

.ct-size a {
    font-size: 25px;
    color: #fff !important;
    font-weight: 100;
}

.product-img-link:hover img {
    opacity: 0.8;
}

div.single-content {
    box-shadow: none;
    margin-top: 32px;
}

header .stickytop .logo {
    height: auto;
}

header div.stickytop {
    background-color: white;
    border-bottom: 1px solid #c1cfda;
}

.menu-categories {
    margin: 0;
}

.menu-categories .jquerycssmenu {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

header .stickytop .jquerycssmenu {
    margin: 0 !important;
}

header .stickytop.sticky-on {
    background: #333;
    height: 110px;
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    top: -89px;
}

.featured-articles .title-box span {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);

}

.featured-articles .title-box {
    background: linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0% 0% transparent !important;
}

.featured-articles .title-box .regular-price {
    font-size: 14px;
    color: #333;
}

.regular-price {
    color: #333;
    font-weight: bold !important;
    font-size: 15px;
    text-transform: uppercase;
}

.featured-articles .title-box .old-price {
    color: #333;
    text-decoration: line-through;
    font-size: 14px;
}

.featured-articles .title-box .sale-price {
    color: tomato;
    margin-left: 4px;
    font-size: 14px;
}

.featured-articles .title-box {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 90px;
    padding-top: 30px;
}

.featured-articles .title-box h2 a {
    font-weight: 400;
    text-align: center;
}

.featured-articles .title-box h2 a:hover {
    color: #333 !important;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px 5px;
    display: inline-block;
    text-align: center;
}

li.post-slide {
    height: 100%;
}

ul.featured-articles-slider li img {
    height: auto;
}

img.logo {
    float: none;
    margin: 0;
}

.featured-articles-slider, .random-articles-slider {
    height: 280px;
}

.featured-title {
    background-color: transparent !important;
    width: 100%;
    /*margin-top: -105px;*/
}

.featured-title h3 {
    display: none;
    /*color: #666 !important;
    text-align: center;
    font-family: 'Lato', sans-serif;*/
}

.bx-wrapper {
    max-width: 100% !important;
}

.slide-nav {
    float: none;
    text-align: center;
    margin-top: 100px;
}

footer .slide-nav {
    display: none !important;
}

#slider-prev, #slider-prev2 {
    float: left;
    margin-left: 10px;
    /*margin-top: 100px;*/
}

#slider-next, #slider-next2 {
    float: right;
    margin-right: 10px;
    /* margin-top: 100px;*/
}

#slider-prev a, #slider-next a, #slider-prev2 a, #slider-next2 a, #slider-prev3 a, #slider-next3 a {
    color: #333 !important;
}

ul.masonry_list li p {
    padding: 0;
    color: #333 !important;
    font-size: 16px;
    text-align: center;
}

p.price {
    margin-bottom: 12px;
    line-height: 1em;
}

/*Archive*/
.archive-header {
    color: #fff;
}

.archive-header h1:after {
    background: #fff !important;
}

.archive-header h1 {
    color: #fff;
    font-weight: 100;
}

.archive-header h1 strong {
    font-weight: 400;
}

.archive-header a, .archive-header a:hover {
    font-size: 17px;
    color: #fff !important;
}

/*Related posts*/

.rpbt_shortcode ul.article_list {
    display: inline-block;
    margin-top: -15px;
    padding-left: 1.7%;
}

.rpbt_shortcode ul.article_list li {
    height: 300px;
    display: block;
    padding: 15px 0;
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 25px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.rpbt_shortcode p.price {
    margin: -130px 0px 0px 0px;
}

.rpbt_shortcode p.price .old-price, .rpbt_shortcode p.price .sale-price {
    font-weight: 400;
    font-size: 18px;
}

.underline {
    width: 75px;
    margin: 0px auto 23px auto;
    border: 1px solid #fff;
}

.round-search {
    display: none;
}

.rpbt_shortcode ul.article_list li:hover .round-search, .rpbt_shortcode ul.article_list li .round-search:hover {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: #333;
    z-index: 999;
    top: -250%;
    left: 41%;
    border-radius: 50%;
    opacity: 0.8;
}

.rpbt_shortcode ul.article_list li .round-search:hover {
    z-index: 1001;
}

.fa.fa-eye {
    color: white;
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 1px;
}

.rpbt_shortcode ul.article_list li:hover h4 a, .rpbt_shortcode h4 a:hover {
    color: #333 !important;
}

.rpbt_shortcode h3.rpbt_title.title {
    font-size: 20px;
    padding: 3px 3px 2px;
    margin-bottom: 10px;
    background: #333 !important;
    color: #fff !important;
    font-weight: 100;
}

.arrow-down-related {
    margin: -23px auto 25px auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.arrow-down-related {
    border-top: 10px solid #fff !important;
}

.rpbt_shortcode h4.article-title {
    font-size: 14px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 220px;
    padding: 0 10px;
}

.rpbt_shortcode h4 a {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 50px;
    color: #333;
    font-weight: 400;
}

.rpbt_shortcode ul.article_list li img {
    float: none;
    width: auto;
    max-width: 100%;
    height: 200px;
    display: block;
    top: -200px;
    position: relative;
    margin: -62px auto;
}

.img-border {
    width: 100%;
    margin-top: -80px;
    border-bottom: 1px solid #dddddd;
}

#back-top span {
    background-color: transparent !important;
}

#back-top a span .fa-arrow-up {
    font-size: 19px;
    color: #fff !important;
    position: absolute;
    left: 10px;
    top: 13px;
}

#back-top a span .fa-arrow-up:hover {
    color: #fff !important;
}

.title-overflow {
    height: 44px;
    overflow: hidden;
    line-height: 20px;
}

@media (max-width: 1002px) {
    ul.masonry_list .btn-st {
        margin-left: 10px;
    }
}

@media (max-width: 769px) {
    header {
        height: 100px;
    }

    .single header {
        height: 70px;
    }

    .rpbt_shortcode ul.article_list li {
        width: 46%;
    }

    h1.designer-clothes {
        font-size: 25px !important;
        line-height: 35px;
        padding-top: 20px !important;
        padding-left: 0px !important;
        text-align: center;
    }

}

@media (max-width: 480px) {
    /*Site title*/
    h2.site-title {
        font-size: 55px;
        text-align: left;
        margin-left: 30px;
    }

    .site-subtitle {
        font-size: 11px;
        margin-left: 25px;
        margin-top: -5px;
    }

    .rpbt_shortcode ul.article_list {
        padding-left: 0px;
    }

    .rpbt_shortcode ul.article_list li {
        width: 99%;
        margin-right: 0px;

    }

    .rpbt_shortcode h4.article-title {
        padding: 10px;
        margin-top: 225px;
    }

    .rpbt_shortcode ul.article_list li img {
        top: -185px;
    }

    .img-border {
        margin-top: -65px;
    }

    .title-overflow {
        height: 30px;
        line-height: 25px;
    }

    #single-share .googlebutton i, #single-share .pinbutton i, #single-share .fbbutton i, #single-share .twbutton i, #single-share a.emailbutton i {
        font-size: 25px !important;
    }

    .shortcut {
        margin: 0 auto !important;
    }

    .shortcut-child {
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .single-banner, .single-banner div{
        background-size: 300px !important;
        height: 210px !important;
        width: 300px !important;
    }
}

/*Widget*/
.sidebar .widget, .sidebar-left .widget {
    width: 280px !important;
    padding: 0 0px 20px 10px;
}

.widget#text2 {
    margin-top: 400px !important;
}

.widget_text img {
    width: 270px !important;
    height: auto !important;
}

.single .sidebar .widget {
    padding-left: 0px;
}

aside ul li a{
    color: #ccc !important;
}
aside ul li a:hover {
    color: white !important;
}

aside h3 {
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

aside h3:after {
    display: none !important;
}

/*Small content*/

ul.masonry_list h2 {
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

ul.masonry_list .an-widget-title h2 a:hover {
    color: #333 !important;
}

ul.masonry_list .an-widget-title h2:after {
    display: none;
}

/*Responsive menu title*/
body #responsive-menu #responsive-menu-title {
    margin-top: 25px;
}

body #responsive-menu .responsive-menu li a:first-child {
    border-top: 0px !important;
    text-transform: uppercase;
}

#click-menu {
    background-color: #333 !important;
}

#click-menu.admin-bar-showing {
    margin-top: 40px !important;
}

/*Page from live*/

.page .entry h1.page-title {
    font-size: 30px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    border: 0px;
}

.page .entry p {
    font-size: 16px;
    text-align: justify !important;
    line-height: 1.6em;
    font-weight: 100;
}

.page .entry p a img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.small {
    font-size: 12px;
}

/*Red banner*/
.red-banner {
    width: 100%;
    display: block;
    margin-top: 20px;
}

.red-banner img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .red-banner {
        margin-top: 0px;
    }

    .red-banner img {
        width: auto;
    }
}

/*Blog*/

.page-template-template-childpages article .entry h1, .page-child article .entry h1{
    font-weight: 300 !important;
}
.page-template-template-childpages .entry ul li h3, .page-template-template-childpages .entry ul li h3 a, .page-template-template-childpages .entry ul li h3 a:hover{
    font-weight: 100;
    text-align: center;
    font-size: 22px;
    color: #333;
}
.page-template-template-childpages .entry ul li p a, .page-template-template-childpages .entry ul li p a:hover{
    padding-left: 0px;
    color: #333 !important;
    text-decoration: none;
    background: transparent;
}
.page-child article .entry h3{
    text-decoration: none;
    text-align: center !important;
}
.page-child article .entry p em, .page-child article .entry p em a, .page-child article .entry p em a:hover{
    font-size: 12px !important;
    text-transform: none;
    text-align: left;
    width: 100%;
    display: inline;
    margin-bottom: 0px;
    font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
}
.page-child article .entry p strong em, .page-child article .entry p strong em a, .page-child article .entry p strong em a:hover,
.page-child article .entry p em strong, .page-child article .entry p em strong a, .page-child article .entry p em strong a:hover{
    font-size: 16px !important;
     text-transform: none;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
    font-weight: bold !important;
}
.page-child article .entry p strong{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
.page-child p img{
    display: block;
    margin: 0 auto;
}
.page-child strong{
    font-weight: 400 !important;
}
article .entry{
    width: 100%;
}
article .entry h4{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 769px){
  .page-template-template-childpages .entry ul li a{
    float: none;
  } 
 .page-template-template-childpages .entry ul li a img{
    display: block;
     width: 80%;
    margin: 0 auto;
    
    }
}
@media (max-width:480px){
    .page-child p{
        word-break: break-word !important;
    }
}

/*Footer*/
footer {
    position: relative;
    z-index: 1001;
}

footer, footer .social-section, footer .wrap-footer {
    background-color: #333 !important;
}

footer .featured-articles .title-box h2 a:hover {
    font-weight: bold;
}

footer .footer-social i:hover, footer .footer-social a:hover {
    color: #ccc !important;
}

footer .bx-wrapper {
    background: #fff;
}

.copyright {
    color: #fff !important;
}

.copyright i {
    font-size: 20px;
    font-weight: 100;
    margin-left: 3px;
}

/*Responsive menu*/
#responsive-menu-title, #responsive-menu #responsiveSearchInput {
    font-family: 'Oswald', sans-serif !important;
}

#responsive-menu #responsiveSearchInput {
    text-transform: uppercase;
}

body #responsive-menu #responsive-menu-title {
    margin-bottom: 20px;
    font-weight: 100;
}

#responsive-menu .responsive-menu li a {
    font-weight: 100 !important;
}

/*Infinite scroll*/
#infscr-loading {
    background: #333 !important;
}

#infscr-loading img {
    width: 20px;
}

/* Child Pages */

.content-bgd {
    background: #FFF;
    padding-bottom: 40px;
}

ul.child-pages {
    list-style-type: none;
    margin: 0;
    padding: 24px;
}

ul.child-pages .child-image {
    float: left;
    padding-right: 24px;
    max-width: 260px;
    height: auto;
    max-height: 260px;
    overflow: hidden;
}

ul.child-pages h3, ul.child-pages h3 a:hover {
    text-decoration: none;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-top: 0;
}

.child-pages p a, .child-pages p a:hover {
    background-color: transparent !important;
    color: #f6931f !important;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.page-child .entry p a {
    color: #414141 !important;
}

@media (max-width: 800px) {
    .child-pages h3 {
        margin-top: 0px;
    }

    .child-pages p a {
        float: right;
    }
}

.wrap-content {
    overflow: hidden;
}

.featured-pages {
    background: white;
    padding: 24px;
    margin: 0;
    width: auto;
    margin: 0px 32px 13px 32px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.featured-pages li {
    margin-bottom: 20px;
}

.featured-pages h2 {
    font-size: 25px;
    margin: 22px 0 42px 0;
    text-align: center;
    font-weight: 400;
    /* text-decoration: underline; */
    color: #000;
}

.featured-pages h3 {
    font-size: 18px;
}

.featured-pages a span, .featured-pages a:hover span {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    margin: 0 auto;
}

.featured-pages a:hover span {
    background: #333;
    color: white;
}

/* End Child Pages */

/*404 page*/
.page article {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.error404 .entry-top, .error404 .entry-top h1 {
    background: #333;
    color: #fff;
}

#mcTagMap .tagindex h4, #mcTagMap .tagindex .links li a:hover {
    color: #333 !important;
    border-bottom: 5px solid #333 !important;
    text-align: left;
}
#mcTagMap .tagindex .links li a:hover{
    border-bottom: 0px !important;
}

#mcTagMap .tagindex .links li a, #mcTagMap .tagindex ul li, #mcTagMap .tagindex ul li span.mctagmap_count {
    color: #333 !important;
    border-bottom: 0px !important;
}
#mcTagMap .tagDescription{
    display: none !important;
}
.error404 #mcTagMap .tagindex h4, .error404 #mcTagMap .tagindex .links li a:hover {
    color: #fff !important;
    border-bottom: 5px solid #333 !important;
}

.error404 #mcTagMap .tagindex .links li a, .error404 #mcTagMap .tagindex ul li, .error404 #mcTagMap .tagindex ul li span.mctagmap_count {
    color: #fff !important;
    border-bottom: 0px !important;
}
#mcTagMap .tagindex, #sc_mcTagMap .tagindex{
    min-height: 100px !important;
}
/*Articles*/
.page .single-content .entry .h3 {
    text-decoration: none !important;
}

article .entry p a, article .entry p a:hover, article .entry p em a, article .page .entry p a strong {
    background-color: transparent !important;
    color: #333 !important;
    font-size: 16px;
}

/*Mailchimp start*/

.wdpu-text {
    text-align: center;
    width: 100%;
    background: url(./images/emailpopup.gif) no-repeat;
    background-size: cover;
}

.mc_embed_signup {
    width: 630px;
    margin: auto;
    display: inline-block;
    margin-top: 350px;
    margin-bottom: 20px;
}

.mc_embed_signup .email {
    border: 1px solid #eee;
    padding: 12px;
    width: 80%;
    font-size: 1.4em;
    font-weight: 100;
    float: left;
    box-sizing: border-box;
    height: 48px;
}

.mc_embed_signup .button {
    border: 1px solid #666;
    padding: 12px;
    font-size: 1.4em;
    color: #fff;
    width: 20%;
    float: left;
    box-sizing: border-box;
    height: 48px;
    background-color: #ff6600;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
    background-position: 85px 15px;
}

/** end mailchimp **/

/*Mailchimp all the time*/
.mailchimp-single {
    border: 1px solid #666;
    margin-bottom: 40px;
    background: url(./images/emailsingle.jpg) no-repeat;
    background-size: cover;
    /*background: #000;*/
}

@media (max-width: 580px) {
    .mailchimp-single {
        background-size: 100% 147px !important;
    }
}

.mailchimp-single .mc_embed_signup {
    margin: 20px auto 30px auto;
    display: block;
}

.mailchimp-single .mc_embed_signup .email {
    border: 1px solid #666;
    color: #666;
    height: 45px;
}

.mailchimp-single .mc_embed_signup .button {
    background-color: #666;
    height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    line-height: 19px;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
    background-position: 85px 15px;
}

.mailchimp-single p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.mailchimp-single span {
    font-weight: bold;
}

.wdpu-container {
    z-index: 1000001 !important;
}

.wdpu-close.no-title, .wdpu-close.no-title:hover {
    position: absolute !important;
    top: -12px !important;
    right: -12px !important;
    width: 30px !important;
    height: 30px !important;
    text-decoration: none !important;
    opacity: .9 !important;
    background: transparent url(http://stylecross.com//wp-content/plugins/popover/css/tpl/cabriolet/img/close.png) no-repeat !important;
    color: transparent !important;
}

@media screen and (max-width: 769px) {
    .mc_embed_signup {
        width: 80%;
    }

    .mc_embed_signup .email, .mc_embed_signup .button {
        font-size: 14px;
        padding: 12px 5px;
        background-position: 65px 15px;
    }

    .mailchimp-single p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .mailchimp-single {
        display: none;
    }
}

/*Single content between 1003px and 1000px*/

@media screen and (max-width: 1003px) and (min-width: 1000px) {
    .single-content {
        padding-left: 15px;
    }

    .menu-categories {
        margin-left: -205px;
    }
}

/*Shortcut*/
.shortcut {
    display: block;
    margin: 32px;
}

@media (min-width: 1200px) {
    .shortcut {
        min-height: 360px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .single .widget_text img {
        display: block;
        margin-left: 11px;
    }
}

@media (max-width: 1200px) {
    .wdpu-text {
        background-size: 100% 460px;
    }
}

.shortcut-child {
    padding: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
    margin-bottom: 32px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media (min-width: 770px) {
    .shortcut-child {
        width: 32%;
        float: left;
        margin-left: 2%;
    }

    .shortcut-child:first-child {
        margin-left: 0;
    }

}

.shortcut-child img {
    width: 100%;
    height: auto;
    background: black;
    display: block;
    margin: 0 auto;
}

.shortcut-child h3 {
    margin: -25px auto 0 auto;
    padding: 10px 0px;
    background: white;
    text-align: center;
    width: 80%;
    position: relative;
    font-size: 25px;
    font-weight: 400;
}

.shortcut-child p {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid black;
}

.shortcut-child p:hover {
    color: #666;
}

.shortcut-child a:last-child p {
    border: 0px;
}

h1.designer-clothes {
    color: #fff;
    font-size: 30px;
    margin: 32px;
    font-weight: 100;
    text-align: center;
}

#crestashareicon {
    left: 0 !important;
    background: white;
    padding: 0 10px 0 0;
    border: 1px solid #333;
}

@media (min-width: 1000px) {
    .sticky-filter.on .search-form {
        /*top: 67px;when banner is here*/
        top: 30px;
    }
}

ul.masonry_list li .product-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    color: white;
    display: none;
}
ul.masonry_list li:hover .product-hover {
    display: block;
}

.product-hover-inner{
    margin: 24px;
    position: relative;
    height: 100%;
    color: white !important;
    display: block;
    text-align: center;
}
.product-hover-inner:hover{
    color: white !important;
}
ul.masonry_list li .description {
    color: white !important;
    font-weight: 300;
    text-align: center;
    width: 100%;
    top: 74px;
    position: absolute;
}
.product-hover-text{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin-top: -6.2em;
    line-height: 1.8em;
    font-weight: 300;
    font-size: 16px;
}
.product-hover-text strong{
    color: #f6931f;

}
.product-hover-home{
    display: block;
    position: absolute;
    bottom: 30%;
    color: #fff !important;
    width: 100%;
    text-align: center;
    z-index: 999;
    font-size: 16px;
    font-weight: 600;
}
.filter-amount{
    width: 120px;
}
.filter-range{
    color: white;
}
.filter-amount{
    color: #f6931f;
}
.search-form-select label:hover{
    background: white;
    color: black;
}
.search-form-placeholder{
    background: url(../pin-wp-child/images/arrow-down.png) no-repeat 170px center;
}
@media (max-width: 1000px){
    .search-form-placeholder{
        background-position: center right;
    }
    
}

.filter-apply{
    font-weight: 500;
}
.filter-apply.active{
    background: #f6931f;
    color: black;

}

.search-form-select input[type=checkbox]:checked{
    background: #f6931f;
}

#crestashareicon{
    z-index: 99999 !important;
}
.featured-articles{
    margin-bottom: 22px;
    border-bottom: 1px solid white;
    margin-top: 24px;
    border-top: 1px solid white;
    box-shadow: 0 0 10px rgb(0,0,0);
}
.header-inner{
    max-width: 1200px;
    margin: auto;
    position: relative;
}


/*Header banner*/

.header-banner{
    height: 35px;
    background: #EC0F0F;
}
.header-banner p{
    color: #FAFAFA;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    padding-top: 4px;
}
.header-banner p a, .header-banner p a:hover{
    display: inline-block;
    background: #FAFAFA;
    font-size: 14px;
    padding: 3px 5px;
    margin-left: 18px;
    margin-top: -1px;
    line-height: 23px;
    color: red !important;
    font-weight: 700;
}
.header-banner p a span{
    border: 1px solid #EC0F0F;
    padding: 0 5px;
}
.under-1000 p{
    text-align: center;
}

@media (min-width: 1000px){
    .under-1000{
        display: none;
    }
    .on .search-form-price{
        width: 240px;
    }
}
@media (max-width: 630px){
    .under-1000{
        height: 60px;
    }
    
}
@media (max-width: 1000px){
    .featured-articles{
        margin-top: 1px;
    }
}